ClientMonitorLibrary/ClientMonitorLibrary/Service References/VietjetAPI_AppView/AppView3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.vietjetair.com/Services/AppView.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" />
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" minOccurs="0" name="HeartBeatResult" nillable="true" type="q1:HeartBeatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>