ClientMonitorLibrary/ClientMonitorLibrary/Service References/VietjetAPI_AppView/AppView2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.vietjetair.com/Services/AppView.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Utility" />
  <xs:complexType name="HeartBeatResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Utility" minOccurs="0" name="Order" nillable="true" type="q1:ArrayOfOrderCode" />
      <xs:element minOccurs="0" name="ResultCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartBeatResponse" nillable="true" type="tns:HeartBeatResponse" />
</xs:schema>