ClientMonitorLibrary/ClientMonitorLibrary/Service References/VietjetAPI_SiteView/SiteView2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UpdateSiteStatisticRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="OnlineUser" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateSiteStatisticRequest" nillable="true" type="tns:UpdateSiteStatisticRequest" />
  <xs:complexType name="UpdateOnlineUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="OnlineUser" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateOnlineUserRequest" nillable="true" type="tns:UpdateOnlineUserRequest" />
  <xs:complexType name="UpdateRequestCountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestCount" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateRequestCountRequest" nillable="true" type="tns:UpdateRequestCountRequest" />
  <xs:complexType name="UpdateActivitiveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateActivitiveRequest" nillable="true" type="tns:UpdateActivitiveRequest" />
</xs:schema>