ClientMonitorLibrary/ClientMonitorLibrary/Service References/VietjetAPI_SiteView/SiteView1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.vietjetair.com/Services/SiteView.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" />
  <xs:element name="UpdateSiteStatistic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" minOccurs="0" name="request" nillable="true" type="q1:UpdateSiteStatisticRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteStatisticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOnlineUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" minOccurs="0" name="request" nillable="true" type="q2:UpdateOnlineUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOnlineUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" minOccurs="0" name="request" nillable="true" type="q3:UpdateRequestCountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestCountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivitive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" minOccurs="0" name="request" nillable="true" type="q4:UpdateActivitiveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivitiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>