ClientMonitorLibrary/ClientMonitorLibrary/Service References/VietjetAPI_SiteView/SiteView.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiteView" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://api.vietjetair.com/Services/SiteView.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://api.vietjetair.com/Services/SiteView.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.vietjetair.com/Services/SiteView.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VietJetAirAPI.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISiteView_UpdateSiteStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSiteStatistic" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateSiteStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSiteStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateOnlineUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOnlineUser" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateOnlineUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOnlineUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateRequestCount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestCount" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateRequestCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateActivitive_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActivitive" />
  </wsdl:message>
  <wsdl:message name="ISiteView_UpdateActivitive_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActivitiveResponse" />
  </wsdl:message>
  <wsdl:portType name="ISiteView">
    <wsdl:operation name="UpdateSiteStatistic">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteView/UpdateSiteStatistic" message="tns:ISiteView_UpdateSiteStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteView/UpdateSiteStatisticResponse" message="tns:ISiteView_UpdateSiteStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOnlineUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteView/UpdateOnlineUser" message="tns:ISiteView_UpdateOnlineUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteView/UpdateOnlineUserResponse" message="tns:ISiteView_UpdateOnlineUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteView/UpdateRequestCount" message="tns:ISiteView_UpdateRequestCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteView/UpdateRequestCountResponse" message="tns:ISiteView_UpdateRequestCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateActivitive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteView/UpdateActivitive" message="tns:ISiteView_UpdateActivitive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteView/UpdateActivitiveResponse" message="tns:ISiteView_UpdateActivitive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISiteView" type="tns:ISiteView">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSiteStatistic">
      <soap:operation soapAction="http://tempuri.org/ISiteView/UpdateSiteStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOnlineUser">
      <soap:operation soapAction="http://tempuri.org/ISiteView/UpdateOnlineUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestCount">
      <soap:operation soapAction="http://tempuri.org/ISiteView/UpdateRequestCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActivitive">
      <soap:operation soapAction="http://tempuri.org/ISiteView/UpdateActivitive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteView">
    <wsdl:port name="BasicHttpBinding_ISiteView" binding="tns:BasicHttpBinding_ISiteView">
      <soap:address location="http://api.vietjetair.com/Services/SiteView.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>